<!doctype html>
<html lang="en" ng-app="todoApp">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>TODO App</title>

    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.1/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.1/angular-resource.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>

    <script src="/static/js/app.js"></script>
    <script src="/static/js/filters.js"></script>
    <script src="/static/js/services.js"></script>
    <script src="/static/js/controllers.js"></script>

  </head>

  {% raw %}
  <body ng-controller="taskListController">
    <div id='header' class="panel panel-default">

      <div class="alert alert-info alert-dismissable fade in" style="display: none">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <p></p>
      </div>

      <div class="page-header">
        <h1>TODO App <small>a simple task manager</small></h1>
      </div>

      <div class="panel-body">

        <div class="well">

          <form class="" role="form">
            <div class="form-group">
              <input type="text" ng-model="itemText" class="form-control" id="todo" placeholder="Enter some text">
            </div>
            <div class="form-group">
              <input type="text" ng-model="itemTags" class="form-control" id="tags" placeholder="Enter, some, tags">
            </div>

            <button id="save" type="button" ng-click="addItem(itemText, itemTags)" class="btn btn-default">Save</button>
          </form>

        </div>

        <div class="panel panel-default">
          <div class="panel-heading">

            <form class="form-inline" role="form">
              <div class="form-group">
                <input type="text" ng-model="itemFilter" class="form-control" id="tagFilter" placeholder="tags or leave empty">
              </div>
              <button id="show" type="button" class="btn btn-default">Show tasks</button>
            </form>

          </div>

          <ul id="todoItems" class="list-group">
            <li ng-repeat="item in items | filter:itemFilter" class="list-group-item">
              <h4 class="list-group-item-heading">
                {{item.value.text}}
                <button type="button" ng-click="deleteItem(item.key)" class="close" aria-hidden="true">&times;</button>
              </h4>
              <p class="list-group-item-text">{{item.value.tags | join}}</p>
             </li>
          </ul>

        </div>
      </div>
    </div>
  </body>
  {% endraw %}

</html>
