<!DOCTYPE html>
<html lang="en" manifest="{{ url_for('manifest') }}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>TODO app</title>

    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="/static/css/font-awesome.min.css">
  </head>

  <body>

    <div class="panel panel-default">
      <div class="page-header">
        <h1>TODO app <small>super simple TODO app</small></h1>
      </div>

      <div class="panel-body">

        <div class="well">

          <form class="" role="form">
            <div class="form-group">
              <input type="text" class="form-control" id="todo" placeholder="Enter some text">
            </div>
            <div class="form-group">
              <input type="text" class="form-control" id="tags" placeholder="Enter, some, tags">
            </div>

            <button id="save" type="button" class="btn btn-default">Save</button>
          </form>

        </div>

        <div class="panel panel-default">
          <div class="panel-heading">

            <form class="form-inline" role="form">
              <div class="form-group">
                <input type="text" class="form-control" id="tagFilter" placeholder="tags or leave empty">
              </div>
              <button id="show" type="button" class="btn btn-default">Show tasks</button>
            </form>

          </div>
          <ul id="todoItems" class="list-group"></ul>
        </div>
      </div>
    </div>

  </body>

  <script src="/static/js/jquery-1.10.2.min.js"></script>
  <script>
    $.postJSON = function(url, data, callback) {
      $.ajax({
        type : 'POST',
        url : url,
        data: JSON.stringify(data),
        contentType: 'application/json; charset=UTF-8',
        success: callback
      });
    };

    var db;

    var DB_NAME = 'todo-db';
    var DB_VERSION = 1;
    var DB_STORE_NAME = 'todo-store';


    onDbError = function(e) {
      console.log(e);
    };

    function openDb() {
      var request = indexedDB.open(DB_NAME, DB_VERSION);

      request.onupgradeneeded = function(e) {
        var store = e.currentTarget.result.createObjectStore(
                    DB_STORE_NAME, { autoIncrement: true });

        store.createIndex("isDeleted", "isDeleted", { unique: false });
        store.createIndex("serverKey", "serverKey", { unique: false });
        store.createIndex("tags", "tags", { unique: false, multiEntry: true });

        e.target.transaction.onerror = onDbError;
      };

      request.onsuccess = function(e) {
        db = e.target.result;
        showItems();
      };

      request.onerror = onDbError;
    }

    function getObjectStore(storeName, mode) {
      var trans = db.transaction([storeName], mode);
      return trans.objectStore(storeName);
    }

    function getAllItems(callback) {
      var elements = [];

      var store = getObjectStore(DB_STORE_NAME, 'readwrite');
      var index = store.index("isDeleted");
      var keyRange = IDBKeyRange.only("false");
      var cursorRequest = index.openCursor(keyRange);

      cursorRequest.onsuccess = function(event) {
        var result = event.target.result;

        if (result) {
          elements.push({
            'value': result.value,
            'key': result.primaryKey
          });

          result.continue();
        } else {
          callback(elements);
        }
      };

      cursorRequest.onerror = onDbError;
    }

    function getNewItems(callback) {
      var elements = [];

      var store = getObjectStore(DB_STORE_NAME, 'readonly');
      var index = store.index('serverKey');
      var keyRange = IDBKeyRange.only('');
      var cursorRequest = index.openCursor(keyRange);

      cursorRequest.onsuccess = function(event) {
        var result = event.target.result;

        if (result) {
          elements.push({
            'object': getObject(result.value),
            'value': result.value,
            'key': result.primaryKey
          });

          result.continue();
        } else {
          callback(elements);
        }
      };

      cursorRequest.onerror = onDbError;
    }

    function getTaggedItems(tag, shownElements, callback) {
      var elements = [];

      var store = getObjectStore(DB_STORE_NAME, 'readonly');
      var index = store.index('tags');
      var keyRange = IDBKeyRange.only(tag);
      var cursorRequest = index.openCursor(keyRange);

      cursorRequest.onsuccess = function(event) {
        var result = event.target.result;

        if (result) {
          if (!(result.primaryKey in shownElements)) {
            elements.push({
              'object': getObject(result.value),
              'value': result.value,
              'key': result.primaryKey
            });
          }

          shownElements[result.primaryKey] = result.primaryKey;
          result.continue();
        } else {
          callback(elements);
        }
      };

      cursorRequest.onerror = onDbError;
    }

    function getDeletedItems(callback) {
      var elements = [];

      var store = getObjectStore(DB_STORE_NAME, 'readonly');
      var index = store.index("isDeleted");
      var keyRange = IDBKeyRange.only("true");
      var cursorRequest = index.openCursor(keyRange);

      cursorRequest.onsuccess = function(e) {
        var result = e.target.result;

        if (result) {
          elements.push({
            'object': getObject(result.value),
            'value': result.value,
            'key': result.primaryKey
          });

          result.continue();
        } else {
          callback(elements);
        }
      };

      cursorRequest.onerror = onDbError;
    }

    function syncItems() {
      console.log('syncItems');

      getNewItems(function (newItems) {
        getDeletedItems(function (deletedItems) {
          var data = {
            'items_new': newItems,
            'items_delete': deletedItems,
            'server_timestamp': parseFloat(localStorage['serverTimestamp']) || 0
          };

          console.log(newItems);
          console.log(deletedItems);

          $.postJSON('/sync', data, function (response) {
            console.log(response);

            for (var i = 0; i < deletedItems.length; i++) {
              hardDeleteItem(deletedItems[i].key);
            }

            for (var i = 0; i < response.itemsDelete.length; i++) {
              hardDeleteItemFromKey(response.itemsDelete[i].server_key);
            }

            for (var i = 0; i < response.itemsServer.length; i++) {
              addServerItem(response.itemsServer[i]);
            }

            for (var i = 0; i < response.itemsClient.length; i++) {
              id = newItems[i].key;
              updateItem(id, 'serverKey', response.itemsClient[i].server_key);
            }

            localStorage['serverTimestamp'] = response.serverTimestamp;
            showItems();
          });

        });
      });
    }

    function getObject(result) {
      var object = {
        'text': result.text,
        'tags': result.tags,
        'client_timestamp': result.timestamp
      };

      return object;
    }

    function updateItem(id, field, value) {
      var store = getObjectStore(DB_STORE_NAME, 'readwrite');
      var request = store.get(id);

      request.onsuccess = function(e) {
        var data = request.result;
        data[field] = value;

        var requestUpdate = store.put(data, id);

        requestUpdate.onsuccess = function(event) {
          console.log('item updated');
        };

        requestUpdate.onerror = function(event) {
          console.log("error updating: ", event);
        };
      };

      request.onerror = function(e) {
        console.log("error disabling: ", e);
      };
    }

    function showItems() {
      var todos = document.getElementById('todoItems');
      var tagFilter = document.getElementById('tagFilter');
      var tags = tagFilter.value ? tagFilter.value.replace(/\s/g, '').split(',') : [];
      var shownElements = {};

      todos.innerHTML = "";
      tagFilter.value = "";

      if (tags.length) {
        console.log(tags);

        for (var j = 0; j < tags.length; j++) {
          getTaggedItems(tags[j], shownElements, function(elements) {
            console.log('callback ' + j);
            console.log(elements);

            for (var i = 0; i < elements.length; i++) {
              renderItem(elements[i]);
            }
          });
        }

      } else {
        getAllItems(function(elements) {
          for (var i = 0; i < elements.length; i++) {
            renderItem(elements[i]);
          }
        });
      }
    }

    function addServerItem(item) {
      item.isDeleted = item.is_deleted.toString();
      item.serverKey = item.server_key;

      delete item.client_timestamp;
      delete item.server_timestamp;
      delete item.is_deleted;
      delete item.server_key;

      addItem(item);
    }

    function addClientItem() {
      var todo = document.getElementById('todo');
      var tags = document.getElementById('tags');

      var data = {
        'serverKey': '',
        'text': todo.value || '<empty>',
        'tags': tags.value ? tags.value.replace(/\s/g, '').split(',') : [],
        'isDeleted': 'false',
        'timestamp': new Date().getTime() / 1000
      };

      todo.value = '';
      tags.value = '';

      addItem(data);
    }

    function addItem(data) {
      var store = getObjectStore(DB_STORE_NAME, 'readwrite');
      var request = store.put(data);

      request.onsuccess = function(e) {
        console.log('todo item added');
        showItems();
      };

      request.onerror = function(e) {
        console.log('error adding:', e);
      };
    }

    function deleteItem(item) {
      if (!item.value.serverKey) {
        hardDeleteItem(item.key);
      } else {
        softDeleteItem(item.key);
      }

      showItems();
    }

    function hardDeleteItemFromKey(key) {
      var store = getObjectStore(DB_STORE_NAME, 'readonly');
      var index = store.index('serverKey');
      var request = index.getKey(key);

      request.onsuccess = function(e) {
        var id = e.target.result;

        if (typeof(id) !== 'undefined'){
          hardDeleteItem(e.target.result);
        }
      };

      request.onerror = function(e) {
        console.log('error deleting:', e);
      };
    }

    function hardDeleteItem(id) {
      var store = getObjectStore(DB_STORE_NAME, 'readwrite');
      var request = store.delete(id);

      request.onsuccess = function(e) {
        console.log('deleted item');
      };

      request.onerror = function(e) {
        console.log("Error Deleting: ", e);
      };
    }

    function softDeleteItem(id) {
      updateItem(id, 'isDeleted', 'true');
    }

    function renderItem(item) {
      var row = item.value;
      var key = item.key;

      var todos = document.getElementById("todoItems");
      var li = document.createElement("li");
      var x = document.createElement("button");
      var h4 = document.createElement("h4");
      var p = document.createElement("p");

      x.addEventListener("click", function() {
        deleteItem(item);
      }, false);

      x.className = "close";
      x.innerHTML = "&times;";
      x.setAttribute("aria-hidden", "true")

      if (row.serverKey) {
        li.className = "list-group-item list-group-item-success"
      } else {
        li.className = "list-group-item list-group-item-danger"
      }
      h4.className = 'list-group-item-heading';
      p.className = 'list-group-item-text';
      li.id = key;

      h4.textContent = row.text;
      p.textContent = row.tags.join(', ');

      li.appendChild(h4);
      li.appendChild(p);
      h4.appendChild(x);
      todos.appendChild(li);
    }

    function init() {
      openDb();

      document.querySelector("#save").addEventListener("click", addClientItem, false);
      document.querySelector("#show").addEventListener("click", showItems, false);
    }

    window.addEventListener("DOMContentLoaded", init, false);
    window.addEventListener('online', syncItems);
  </script>

</html>
